<nav class = 'navbar navbar-expand-lg navbar-light bg-light'>
  <a class =  'navbar-brand' href="#"></a>
  <ul class = 'navbar-nav mr-auto'>
    <li class = 'nav-item'><a class = 'nav-link' [routerLink] = '["/twitter-feed"]'>Twitter Feed</a></li>
    <!-- <li class = 'nav-item'><a class = 'nav-link' [routerLink] = '[""]'></a></li>
    <li class = 'nav-item'><a class = 'nav-link' [routerLink] = '[""]'></a></li> -->
  </ul>
</nav>

<div class = 'container'>
  <div class = 'col'>
    Sup bloutches
  </div>
  <div class = 'col'>
    <!-- <h1> {{ pageTitle }} </h1> -->
  </div>
  <div class = 'col'></div>
</div>



<router-outlet></router-outlet>
